DNET Webshop/WebshopClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebshopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WebshopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebshopService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_Buy_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_Buy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetQnty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQnty" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetQnty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQntyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCart" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartResponse" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="IWebshopService_GetCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebshopService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/GetProducts" message="tns:IWebshopService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/GetProductsResponse" message="tns:IWebshopService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/InsertCustomer" message="tns:IWebshopService_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/InsertCustomerResponse" message="tns:IWebshopService_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/GetCustomer" message="tns:IWebshopService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/GetCustomerResponse" message="tns:IWebshopService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/Buy" message="tns:IWebshopService_Buy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/BuyResponse" message="tns:IWebshopService_Buy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQnty">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/GetQnty" message="tns:IWebshopService_GetQnty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/GetQntyResponse" message="tns:IWebshopService_GetQnty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/GetCart" message="tns:IWebshopService_GetCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/GetCartResponse" message="tns:IWebshopService_GetCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebshopService/GetCredit" message="tns:IWebshopService_GetCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebshopService/GetCreditResponse" message="tns:IWebshopService_GetCredit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebshopService" type="tns:IWebshopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/Buy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQnty">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/GetQnty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCart">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/GetCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/IWebshopService/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebshopService">
    <wsdl:port name="BasicHttpBinding_IWebshopService" binding="tns:BasicHttpBinding_IWebshopService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WinkelService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>